

<div class="mainDiv">

  <div class="h1Div">
    <h1>  
      Weather Fun !
    </h1>
  </div>

  <div class="searchDiv">
    <div class="inputDiv"> 
      <form (ngSubmit)="onSubmit(input.value)">
        <label for="city"></label>
        <input id="city" class="form-control" [(ngModel)]="cityName" type="text" class="cityInput"
        (click)="buttonStatus()" (input)="findLocation(input.value)" #input required [ngModelOptions]="{standalone: true}">
        <button type="submit" [disabled]=locationButtonStatus class="btn btn-primary getCity-Btn">Get City</button>
      </form>  
    </div>
    <div class="displayDiv">
      <ul class="weatherList">
        <li>Country: {{weatherData.city.country}}</li>
        <li>CityName: {{weatherData.city.name}}</li>
        <li>Clouds: {{weatherData.list[0].weather[0].description}}</li>
        <li>Population: {{weatherData.city.population}}</li>
      </ul>
    </div>
  </div>


</div>
