@import '../../../scss/styles.scss';

.mainDiv {
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00fcfb+1,00c8c8+100 */
background: #00fcfb; /* Old browsers */
background: -moz-linear-gradient(top, #00fcfb 1%, #00c8c8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00fcfb 1%,#00c8c8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00fcfb 1%,#008383 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fcfb', endColorstr='#00c8c8',GradientType=0 ); /* IE6-9 */
}

.getCity-Btn {
    background: $mainSecondary;
    color: $secondaryText;
}

.getCity-Btn:disabled {
    background-color: $secondaryLight;
    border-color: $secondaryLight;
    cursor: not-allowed;
}

.displayDiv {
    padding-top: 5%;
}


