

<div class="mainDiv">

  <div class="h1Div">
    <h1>  
      Weather Fun !
    </h1>
  </div>

  <div class="inputDiv"> 
    <input type="text" class="cityInput" (click)="buttonStatus()" [(ngModel)]=cityInput>
    <button [disabled]=locationButtonStatus (click)="getCity()" class="btn btn-primary getCity-Btn">Get City</button>
  </div>
  <div class="displayDiv">
    <h3>Country: {{countryName}}</h3>
    <h3>CityName: {{cityName}}</h3>
    <h3>Clouds: {{clouds}}</h3>
    <h3>Population: {{population}}</h3>
  </div>



</div>
