

<div class="mainDiv">

  <div class="h1Div">
    <h1>  
      Weather Fun !
    </h1>
  </div>

  <div class="searchDiv">
    <div class="inputDiv"> 
      <form (ngSubmit)="onSubmit(ctrl)">
        <label for="city"></label>
        <input id="city" class="form-control" [(ngModel)]="cityName" #ctrl="ngModel" type="text" class="cityInput" 
        (click)="buttonStatus()" required [ngModelOptions]="{standalone: true}">
        <button type="submit" [disabled]=locationButtonStatus class="btn btn-primary getCity-Btn">Get City</button>
      </form>  
    </div>
    <div class="displayDiv">
      <ul class="weatherList" *ngFor="let weather of cityData">
        <li>Country: {{weather.countryName}}</li>
        <li>CityName: {{weather.cityName}}</li>
        <li>Clouds: {{clouds}}</li>
        <li>Population: {{weather.population}}</li>
      </ul>
    </div>
  </div>


</div>
