@import '../../../scss/styles.scss';

.div1 {
    width: 100%;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71ffff+1,00fcfb+100 */
background: #71ffff; /* Old browsers */
background: -moz-linear-gradient(top, #71ffff 1%, #00fcfb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #71ffff 1%,#00fcfb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #71ffff 1%,#00fcfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ffff', endColorstr='#00fcfb',GradientType=0 ); /* IE6-9 */
}

.div1 > h1 {
    padding: 0;
    margin: 0;
    color: $primaryTextColor;
}