                /*   Use this file to set global styles   */

//      ------ Variables ------

//Primary Colors

$primaryColor: #00fcfb;
$primaryColorLight: #71ffff;
$primaryColorDark: #00c8c8;
$primaryTextColor: #004c3f;

//Secondary Colors
$mainSecondary: #bf360c;
$secondaryLight: #f9683a;
$secondaryDark: #870000;
$secondaryText: #fff59d
